.homepage__layout {
  display: grid;
  grid-template-columns: 3fr 500px;
  gap: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.homepage__Leftlayout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.homepage__posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.homepage__postCard__header {
  display: flex;
  gap: 20px;
}

.homepage__postCard__header_info {
  display: flex;
  flex-direction: column;
}

.homepage__postCard__header_info > h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
}

.homepage__postCard__header_info > p {
  margin-top: 0;
}

.homepage__postCard {
  background-color: #fff;
  padding: 10px 20px;
  max-width: 690px;
  color: #000;
  border-radius: 10px;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
}

.postCard__avatar {
  background-color: transparent !important;
  color: #005249 !important;
  border: 2px solid rgba(255, 247, 205, 1) !important;
}

.homepage__postCard:last-child {
  margin-bottom: 20px;
}

.homepage__Leftlayout_posts > div > h4 {
  background-color: rgb(99, 187, 99);
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #f6f6f6;
  border-radius: 4px;
  cursor: pointer;
}

.homepage__trendCards {
  display: flex;
  gap: 10px;
}

.homepage__trendCard {
  width: 200px;
  height: 180px;
  background-color: rgb(200, 250, 205);
  padding: 14px;
  border-radius: 6px;
  display: grid;
  grid-template-rows: 40px 1fr 60px;
  transition: transform 500ms ease-in-out;
  cursor: pointer;
  color: #005249;
}

.trendCardAvatar {
  background-color: transparent !important;
  border: 3px solid #005249;
  color: #005249 !important;
}

.homepage__trendCard:hover {
  transform: scale(1.05);
}

.createPostModal {
  background-color: #f6f6f6;
  max-width: 500px;
  border-radius: 5px;
  border: 2px solid #000;
  height: 400px;
  margin: auto;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.createPostModal__closeIcon {
  background-color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: transform 300ms ease-out;
  cursor: pointer;
}

.createPostModal__closeIcon:hover {
  transform: scale(1.1);
}

.createPostModal__title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.homepage__Tips {
  margin-top: 60px;
}

.homepage__TipsTitle {
  display: flex;
  background-color: rgb(255, 247, 205);
  max-width: 400px;
  padding: 10px 4px;
  border-radius: 4px;
  color: rgb(122, 79, 1);
}

.homepage__TipsTitle > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.homepage__Tips_tipsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.homepage__TipCard {
  background-color: #fff;
  max-width: 390px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(4, 41, 122);
  text-transform: inherit;
  box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px,
    rgb(145 158 171 / 24%) 0px 16px 32px -4px;
  display: flex;
  gap: 10px;
  color: rgb(4, 41, 122);
}

.homepage__TipTag {
  background-color: #fff;
  width: 100px;
  padding: 3px;
  border-radius: 0px 00px 0px 10px;
  display: flex;
  justify-content: center;
}
