.messagesPage__layout {
  margin-left: 10px;
  margin-top: 50px;
  display: grid;
  grid-template-areas:
    "big_ann small_ann"
    "big_ann small_ann"
    "other_ann other_ann";
}

.big_announcement {
  grid-area: big_ann;
}

.small_announcement {
  grid-area: small_ann;
}

.other_announcements {
  grid-area: other_ann;
}
