.trendingPage__layout {
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
  gap: 10px;
}

.trendingPage__title {
  display: flex;
  align-items: center;
  width: 150px;
  height: 40px;
  gap: 5px;
  background-color: #000;
  color: #fff;
}

.trendingPage__title > span {
  display: flex;
  align-items: center;
}

.newTrendButton {
  background-color: rgb(99, 187, 99);
  width: 100px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #f6f6f6;
  border-radius: 4px;
  cursor: pointer;
}

.trendingPage__title > span > .MuiSvgIcon-root {
  font-size: 30px;
  margin-left: 5px;
}

.latestTrends {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-right: 10px;
}

.latestTrendCard {
  background-color: #f6f6f6;
  width: 280px;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
}

.allTrends {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.allTrends__trendcard {
  display: inline-block;
  background-color: #f6f6f6;
  width: 300px;
  height: 200px;
  padding: 10px;
}

.createTrendModal {
  background-color: #f6f6f6;
  max-width: 500px;
  height: 450px;
  margin: auto;
  border-radius: 4px;
  margin-top: 40px;
  padding: 10px;
  border: 2px solid #000;
}

.createTrendModal__closeIcon {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 300ms ease-in;
}

.createTrendModal__closeIcon:hover {
  transform: scale(1.07);
}
